@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html{
  margin:0;
  padding: 0;
  width:100%;
  height:100%;
  xtext-align: center;
}
/* img {
	border: 2px solid red;
  width: 100%;
  xheight: 400px;
  position:relative;
  object-fit: cover;
     z-index:-1;
} */
/* .html-line {
	  position:absolute;
	 border: 2px solid black;
	     width: 100%;
	  height: 500px;
	     z-index:-1;
}  */


 
body {
margin:0;
padding: 0;
width:100%;
height:100%;
z-index:7;
}

.header {
    z-index:10;
}
.wrap {
    xborder: 2px solid grey;
}


#content {
	 xposition: relative;
  border: 2px dashed yellow;
  xmargin-top : 50px;
  min-height: 500px; 
  max-height:100%;
  z-index:2;
}

aside {
	position: fixed;
  xtop: 300px; 
  border: 2px solid white;
  float: right;
  width: 100px;
  border-radius: 7px; 
  background-color: #3a3a3a; 
  box-shadow: 0px 0px 5px 2px black; 
  right: 50%; 
  margin-right: -720px; 
  text-align:center; 
  
}

footer {
	xposition: absolute;
	background: linear-gradient(#988DB3 15%, #D7D7EA 85%);
  width:100%;
  margin-top:55px;
  right: 0;
  clear: left; 
  *position:fixed;
  /*bottom:0px; */
}

 /* 
 @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
 */



