@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html{
  margin:0;
  padding: 0;
  width:100%;
  height:100%;
  text-align: center;
}
/* img {
	border: 2px solid red;
  width: 100%;
  xheight: 400px;
  position:relative;
  object-fit: cover;
     z-index:-1;
} */
/* .html-line {
	  position:absolute;
	 border: 2px solid black;
	     width: 100%;
	  height: 500px;
	     z-index:-1;
}  */

@font-face {
   font-family: 'Cafe24Oneprettynight';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
 
body {
	margin:0;
padding: 0;
width:100%;
height:100%;
z-index:7;
}

.header {
  xbackground-color: #983246;
  xborder: 4px solid #14148C;
  xborder: 4px solid red;
  xwidth:100%;
  xheight: 125px; 
  xmargin:auto;
  xz-index:10;
    z-index:10;
}
.wrap {
    xborder: 2px solid grey;
}


#content {
	 xposition: relative;
  border: 2px dashed yellow;
  margin-top : 50px;
  min-height: 500px; 
  max-height:100%;
  z-index:2;
}

aside {
	position: fixed;
  xtop: 300px; 
  border: 2px solid white;
  float: right;
  width: 100px;
  border-radius: 7px; 
  background-color: #3a3a3a; 
  box-shadow: 0px 0px 5px 2px black; 
  right: 50%; 
  margin-right: -720px; 
  text-align:center; 
  
}

footer {
	  xposition: absolute;
	background: linear-gradient(#988DB3 15%, #D7D7EA 85%);
  width:100%;
  margin-top:55px;
  right: 0;
  clear: left; 
  *position:fixed;
  bottom:0px;
}

/* img {max-width: 100%; height: auto;}
span.imageblock {max-width: 100%; height: auto;}
 */
 
 /* 
 @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
 */

/*  tr a {
        text-decoration: none;
        color: black;
    }
    tr a:visited {
        color: black;
    }
    tr:hover {
        cursor: pointer;
    }
    .d-flex{
      width: 440px;
      border: 1px solid green;
    } */


