<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
  
  <resultMap type="Product" id="ProductMap">
    <id column="product_no" property="productNumber"/> 
    <result column="name" property="productName"/>
    <result column="type_no" property="typeNumber"/>
    <result column="origin" property="countryOrigin"/>
    <result column="variety" property="variety"/>
    <result column="volume" property="volume"/>
    <result column="alcoholLevel" property="alcoholLevel"/>
    <result column="sugarLevel" property="sugarLevel"/> 
    <result column="acidity" property="acidity"/>
    <result column="weight" property="weight"/>
    <result column="rate" property="rate"/>
    <result column="reviewerNum" property="reviewerNum"/>
    
 <!--  <association property="productTypes" javaType="ProductType">
    <id column="type_no" property="number"/>
    <result column="type" property="type"/>
    <result column="subType" property="subType"/>
  </association> -->

  </resultMap>
 <!--  
  <resultMap type="productTypes" id="ProductTypeMap">
    <id column="type_no"  property="number"/>
    <result column="type" property="type"/>  
    <result column="subType" property="subType"/>  
  </resultMap> -->
<!--   
  <select id="findAllProductType" resultMap="ProductTypeMap">
    select 
      type_no,
      type, 
      subType 
    from 
      product_type
    order by 
      type_no asc
  </select>
 -->
  <select id="findAll" resultMap="ProductMap">
	   Select 
	     p.product_no, 
	     t.type, 
	     t.subType, 
	     p.name, 
	     p.origin, 
	     p.volume, 
	     p.alcoholLevel, 
	     p.sugarLevel,
	     p.acidity, 
	     p.weight, 
	     p.rate, 
	     p.variety 
	   From 
	     product p
     left outer join product_type t on t.type_no = p.type_no 
     order by p.product_no asc
  </select>
  
  
<!--   <insert id="insert" parameterType="product">
   insert into product(type_no, name, variety, origin, volume, alcoholLevel, sugarLevel, acidity, weight)
    values(#{productTypes.number}, #{productName}, #{variety}, #{countryOrigin}, #{volume}, #{alcoholLevel}, #{sugarLevel}, #{acidity}, #{weight})" 
  </insert>
   -->
  <!-- 
  
  
  <select id="findByNo" resultMap="BoardMap" parameterType="int">
       select
         b.board_no,
         b.title,
         b.content,
         b.registeredDate,
         b.views,
         m.member_no, 
         m.id, 
         m.name,
         m.email
       from board b inner join member m 
         on b.member_no=m.member_no
        where board_no=#{no}
  </select>
  
  <update id="update" parameterType="board">
  update board set
    title=#{title},
    content=#{content}
    where 
    board_no=#{boardNumber}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from board 
    where board_no=#{no}
  </delete>
  
  <select id="findByKeyword" resultMap="BoardMap" parameterType="String">
  </select>

  
   -->
  
</mapper>







